h1, h2, h3, h4, h5, h6 {
  color: $dark-blue-text;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
}

h1 {
  font-size: $big-font-size;
}

h2 {
  font-size: $mid-font-size;
}

h3 {
  font-size: 2rem;
}

p {
  margin-bottom: 1rem;
}
