footer {
  background-color: $dark-grey;
  color: $white-color;
  padding: 3rem 0;
  margin-top: 4rem;

  .footer-content {
    text-align: center;

    p {
      margin-bottom: 0.5rem;
      font-size: 1.4rem;
    }

    .social-links {
      margin-top: 1.5rem;

      a {
        color: $white-color;
        font-size: 2rem;
        margin: 0 1rem;
        transition: color 0.3s ease;

        &:hover {
          color: $secondary-color;
        }
      }
    }
  }
}
